@{
    ViewBag.Title = "Home Page";
}
<meta charset="utf-8" />

<div class="jumbotron">
    <div class="w3-animate-opacity">
        <img src="~/Images/logo_vna.png" class="" style="width:40%" />
    </div>
    <div class="w3-animate-left">
        <img src="~/Images/plane_icon.png" alt="Plane" style="width: 60%" />
    </div>
    <h1 class="w3-text-pink">Tin Học Kinh Tế</h1>
    <p class="lead">Tin kinh tế 63B with Luv &#128151;</p>
    <p><a href="https://www.facebook.com/groups/1330400187123858/announcements" class="btn btn-primary btn-lg">Gờ rúp lớp tụi mình &raquo;</a></p>
</div>