@model PTPMQL.Models.KhachHang

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <div class="w3-container">
        <h2>Information</h2>

        <div class="w3-card-4 w3-dark-grey" style="width:50%">

            <div class="w3-container w3-center">

                <h4>My information</h4>
                <img src="image.png" alt="Avatar" style="width:80%">
                <h5>iamhafa</h5>

                <div class="w3-section">
                    <button class="w3-button w3-green">Accept</button>
                    <button class="w3-button w3-red">Decline</button>
                </div>
            </div>

        </div>
    </div>
</div>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
